nav {
    color: #fff;
    background-color: #758BFD;
    width: 100%;
    height: 56px;
    line-height: 56px;
  }

  h1 {
    font-size:10vmin;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .center-text {
    text-align: center;
  }

  .footer {
    background-color: #fff;
  }

  .code {
    font-family: 'Courier New', Courier, monospace;
  }

  .social-link {
    height: 40px;
    color: #758BFD;
  }