nav {
    color: #fff;
    background-color: #758BFD;
    width: 100%;
    height: 56px;
    line-height: 56px;
  }

  h1 {
    font-size:10vmin;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .red-button {
    background-color: #758BFD;
  }

  .red-button:hover {
    background-color: #9BABFD;
    transform: scale(1.2);
  }

  .list-item {
    opacity: 0.0;
  }

  .list-item:hover {
    /* margin-top: 10px; */
    color: #758BFD;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    transform: scale(1.3) translate(10%, 0%);
    /* margin-bottom: 10px; */
  }

  .center-text {
    text-align: center;
  }

  .footer {
    background-color: #fff;
    margin-bottom: 10px;
  }

  .code {
    font-family: 'Courier New', Courier, monospace;
  }

  .social-link {
    margin-left: 5vmin;
    margin-right: 5vmin;
  }

  .social-link-image {
    height: 40px;
    color: #758BFD;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .social-link-image:hover {
    transform: scale(1.2);
  }