main{
  padding-bottom: 60px;
}



/* .work-card {
  animation-name: work-card;
  animation-duration: 4s;
  min-height: 0;
  height: 300px;
}

@keyframes work-card {
  from {
    height: 0px;
    padding: 0;
  }
  to {
    height: 300px;
    padding: 24px;
  }
}

.work-card *{
  animation-name: work-card2;
  animation-duration: 4s;
}

@keyframes work-card2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

